html {
  background-color: white;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10px;
}

.parallax {
    /* The image used */
    background-image: url("../img/tlostrony1.jpg");
    /* Set a specific height */
    min-height: 750px ;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-position: 0 1px;
    background-repeat: no-repeat;
    background-size: cover;
}

progress[value]::-webkit-progress-bar {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-30deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

body {
  margin: 0;
  color: #26242b;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  display: block;
  padding: 0.7vw;
  text-align: center;
  color: #555;
}


.vertical-row {
  visibility: hidden;
}

.cv {
  margin: auto;
  padding: auto;
  max-width: 60%;
  font-size: 1.6em;
  font-weight: lighter;
  text-align: left;
  display: inline-block;
}

.centerin {
  margin: auto;
  padding: auto;
  width:90%;
  text-align: center;
  border: 0px solid green;
}
img {
  margin: auto;
  width: 100%;
  position: relative;
  z-index: -2;
}
div#image {
  display: inline-block;
  margin: 10%;
  width: 60%;
  box-shadow: 0 0 20px 20px white inset;
}
div#imageLandscape {
  display: inline-block;
  margin: 10%;
  width: 60%;
  box-shadow: 0 0 20px 20px white inset;
}

@media screen and (orientation: landscape) {

  .vertical-row {
    visibility: visible;
    min-height: 15em;
    padding: auto;
    width: 2px;
    background-color: grey;
    display: inline-block;
  }
  .cv {
    margin: 5%;
    font-size: 1.5vw;
    max-width: 40%;
    display: inline-block;
  }
  div#image {
    display: inline-block;
    width: 20%;
  }
  div#imageLandscape {
    width: 30%;
    height: auto;
    margin: 5%;
    display: inline-block;
  }
}

.fadingIn
{
  opacity: 0;
  overflow: auto;
  width: 100%;
}

.header {
  color: white;
  padding: 15px;
  font-size: 3vw;
  position: absolute;
  top: 25vw;
  left: 10%;
}

.up {
  color: white;
  padding: 1% 44%;
  font-size: 3vw;
  position: absolute;
  bottom: 0vw;
}

.container {
  width: 100%;
  align: center;
  margin: 0;
}

#footer {
  clear: both;
  font-size: 1.8vw;
  font-weight: lighter;
  position: relative;
  z-index: 10;
}
