html {
  background-color: #eeeeee;
}

body {
    color: #26242b;
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;

}
li {
    float: left;
}
a {
  display: block;
  padding: 1vw;
  color: #555;
}

img {
  display: block;
  margin: auto;
  border-radius: 8px;
  width: 100%;
}
#moje {
  display: block;
  margin: 13%;
  border-radius: 8px;
  width: 30%;
  float: right;
}
#ispik {
  display: block;
  margin: 13%;
  border-radius: 8px;
  width: 30%;
  float: left;
}
#politechnika {
  display: block;
  margin: 13%;
  border-radius: 8px;
  width: 30%;
  float: right;
}
#bike {
  display: block;
  margin: 13%;
  border-radius: 8px;
  width: 30%;
  float: right;
}
#notebook {
  display: block;
  margin: 13%;
  border-radius: 8px;
  width: 30%;
  float: left;
}
.header {
  color: white;
  padding: 15px;
  font-size: 3vw;
  position: absolute;
  top: 20vw;
  left: 10%;
  width: 100%;
}

.container {
  width: 100%;
  align: center;
  margin: 0;
}

.cv {
  padding: 13%;

  font-size: 2.2vw;
  font-weight: lighter;

}
